<div ng-controller="LessonController" id="lessonDiv">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{(currentSlide / lessonLength) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(currentSlide / lessonLength) * 100}}%;">
    </div>
  </div>
  <div ng-repeat="lesson in lessons">
    <div ng-show="lesson.id === currentSlide">
      <p>{{lesson.statement}}</p>
      <!-- possible ways to center lesson.statement -->
      <!-- ng-attr-class='{{ boolean }}' -->
      <!-- ng-if -->
      <img id="lessonImg" src="{{lesson.imgUrl}}"/>

      <button ng-show="!$first" ng-click="previousLesson()" id="previousButton">Previous</button>
      <button ng-show="!$last" ng-click="nextLesson()" id="nextButton">Next</button>
      <button ng-show="$last" ng-click="go('/lessons')" id="lastButton">Done!</button>
    </div>
  </div>
</div>